<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<!-- In questo caso senza i singoli apici verrebbe segnalato errore (viene interpretata come un'espressione)
     usando altre strignhe non succede questo-->
    <h1 th:text="'List of Owners'">List of Owners........</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="owner : ${owners}">
        <!-- Stiamo estrapolando le informazioni contenute nella model inviata alla view dal controller e stiamo creando la pagina html con tali informazioni -->
        <td th:text="${owner.id}">123</td>
        <td th:text="${owner.firstName}">Jon</td>
        <td th:text="${owner.lastName}">Doe</td>
    </tr>
</table>

</body>
</html>